<div class="row">
        @for (member of memberservice.paginationResult()?.items; track member.id) {
            <div class="col-2"> 
            <app-member-card [member]="member"></app-member-card>
        </div>
        }
</div>
<div class="d-flex justify-content-center">
    <pagination 
    [boundaryLinks]="true"
    [totalItems]="this.memberservice.paginationResult()?.pagination!.totalitems"
    [itemsPerPage]="this.memberservice.paginationResult()?.pagination!.itemsperpage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="10"
    previousText="&lsaquo;"
     nextText="&rsaquo;" 
     firstText="&laquo;"
      lastText="&raquo;">

</pagination>
</div>
